#top
  h1#title
    span The World in Images
  #twitter_follow
      a(href='https://twitter.com/hadrienjouet') Follow me
  #twitter_powered
    a(href='https://twitter.com', target='_blank') Live from twitter