!!!
html
  head
    title The World in Images
    link(rel='stylesheet', href='/stylesheets/normalize.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='https://ajax.googleapis.com/ajax/libs/mootools/1.4.5/mootools-yui-compressed.js')
    script(src='/socket.io/socket.io.js')
    script(src='/javascripts/mootools-more-1.4.0.1.js')
    script(src='/javascripts/init.js')
  body
    #notifications
      - for (var i in flash)
        - for (var j in flash[i])
          div(class='.' + i) #{flash[i][j]}
    != body
      div#container